<section class="twitter container">
  <h1 class="twitter__title">Twitter</h1>
  <p class="twitter__text">
    If you area a person who enjoys photography, then I highly recommend that
    you check out my Instagram. I’m an avid traveller and I capture the best
    moments that I would love to cherish with the world
  </p>
  <div class="twitter__soc">
    <h2 class="twitter__item">Follow me on Twitter</h2>
    <h2 class="twitter__item-tablet">More about me</h2>
    <a href="" class="twitter__link">
      <svg class="twitter__icon" width="24" height="24">
        <use href="./images/icons.svg#icon-twitter"></use>
      </svg>
    </a>
  </div>
</section>
